<p-dataTable [value]="lancamentos" paginator="true" [rows]="5" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true">
  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column field="dataVencimento" header="Vencimento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span>{{ lanc.dataVencimento | date:'dd/MM/yyyy' }}</span>
    </ng-template>
  </p-column>
  <p-column field="dataPagamento" header="Pagamento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span>{{ lanc.dataPagamento | date:'dd/MM/yyyy' }}</span>
    </ng-template>
  </p-column>
  <p-column field="valor" header="Valor" styleClass="col-valor">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span [ngClass]="lanc.tipo === 'DESPESA' ? 'state-despesa' : 'state-receita'">
        {{ lanc.valor | number:'1.2-2' }}
        <i [ngClass]="lanc.tipo === 'DESPESA' ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i>
      </span>
      <!-- <span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">{{lanc.valor}}</span> -->
      <!-- <span [ngStyle]="{ color: lanc.tipo === 'DESPESA' ? 'red' : 'blue' }">{{lanc.valor}}</span> -->
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template pTemplate="header">
      <button pButton label="Exportar" icon="fa fa-external-link" class="ui-button-secondary" pTooltip="Exportar dados" tooltipPosition="top"></button>
    </ng-template>
    <ng-template pTemplate="body">
      <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
      <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    </ng-template>
  </p-column>
</p-dataTable>
