<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h2>Pessoas</h2>
    </div>

  </div>

  <div class="ui-g">

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <div class="ui-inputgroup">
        <input pInputText type="text" placeholder="Informe um nome...">
        <button pButton type="button" label="Pesquisar"></button>
      </div>
    </div>

    <div class="ui-g-12">
      <p-dataTable [value]="pessoas" paginator="true" [rows]="5" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true">
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="cidade" header="Cidade"></p-column>
        <p-column field="estado" header="Estado" styleClass="col-estado"></p-column>
        <p-column field="status" header="Status" styleClass="col-status">
          <ng-template let-pessoa="rowData" pTemplate="body">
            <a href="#" pTooltip="{{pessoa.ativo ? 'Desativar' : 'Ativar'}}" tooltipPosition="top">
              {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
            </a>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <button pButton type="button" icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
            <button pButton type="button" icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" icon="fa fa-plus-circle"></a>
    </div>

  </div>
</div>
