<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" placeholder="dd/mm/aaaa"></p-calendar>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" placeholder="dd/mm/aaaa"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" placeholder="Luz, Água, Gasolina, etc. ...">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">R$</span>
          <input pInputText type="text" placeholder="Preço"
            currencyMask [options]="{ prefix: '', thousands: '.', decimal: ','  }">
        </div>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [autoWidth]="false" [filter]="true" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label style="display: block">Observação</label>
        <textarea pInputTextarea rows="3" autoResize="autoResize" placeholder="Observações..."></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" icon="fa fa-save"></button>
        <button pButton type="submit" label="Novo" icon="fa fa-plus-circle" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
