<div class="container">
    <div class="ui-g">

        <div class="ui-g-12">
            <h2>Lançamentos</h2>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Descrição</label>
            <input pInputText type="text" placeholder="Água, Luz, Salário, etc..">
        </div>

        <div class="ui-g-12">
            <label style="display: block">Vencimento</label>
            <input pInputText type="text" placeholder="dd/mm/aaaa" style="width: 105px">
            <label>até</label>
            <input pInputText type="text" placeholder="dd/mm/aaaa" style="width: 105px">
        </div>

        <div class="ui-g-12">
            <button pButton icon="fa fa-search" type="submit" label="Pesquisar"></button>
        </div>

    </div>
</div>
