<div class="container">
  <form #pessoaForm="ngForm">
    <div class="ui-g">

      <div class="ui-g-12">
        <h2>Nova Pessoa</h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText placeholder="Nome completo"
          name="nome" ngModel #nome="ngModel" required minlength="5">
        <!--
        <app-message [control]="nome" error="required" text="Informe um nome"></app-message>
        <app-message [control]="nome" error="minlength" text="Deve ter pelo menos {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
        -->
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input type="text" pInputText placeholder="Nome da rua"
          name="logradouro" ngModel #logradouro="ngModel" required>
        <!--
        <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>
        -->
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input type="tel" pInputText placeholder="Nº"
          currencyMask [options]="{ prefix: '', precision: 0, thousands: '', decimal: '', allowNegative: false }"
          name="numero" ngModel #numero="ngModel" required [min]="0">
        <!--
        <app-message [control]="numero" error="required" text="Informe o número"></app-message>
        <app-message [control]="numero" error="min" text="Deve ser maior que 0"></app-message>
        -->
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText placeholder="Fundos, Bloco, Apto 403"
          name="complemento" ngModel>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999" placeholder="00000-000"
          name="cep" ngModel #cep="ngModel" required></p-inputMask>
        <!--
        <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>
        -->
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText placeholder="Cidade"
          name="cidade" ngModel #cidade="ngModel" required minlength="5">
        <!--
        <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
        <app-message [control]="cidade" error="minlength" text="Deve ter pelo menos {{ cidade.errors?.minlength?.requiredLength }} caracteres"></app-message>
        -->
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText placeholder="Estado"
          name="estado" ngModel #estado="ngModel" required minlength="4">
        <!--
        <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
        <app-message [control]="estado" error="minlength" text="Deve ter pelo menos {{ estado.errors?.minlength?.requiredLength }} caracteres"></app-message>
        -->
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" icon="fa fa-save" [disabled]="pessoaForm.invalid"></button>
        <button pButton type="submit" label="Novo" icon="fa fa-plus-circle" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
